<div class="d-flex">
  <app-dashboard></app-dashboard>
  <div class="d-flex justify-content-center  page-content-wrapper" style="height:100vh">
    <form (ngSubmit)="createGroupSubmit(createGroupForm)" #createGroupForm="ngForm">



      <div class=" container row mt-5 ml-5 CCform   pt-5 pb-5 jumbotron border rounded">
        <div class=" col-md-4 col- d-flex justify-content-center align-items-center text-center pl-5 pr-4 mb-md-0 mb-4">
          <h2><b>create group</b></h2>
        </div>
        <div class="col-md-8 col- ">
          <div class="d-flex justify-content-between flex-column mr-md-5 pl-4 pr-4">
            <div class="d-flex mb-4 CCform-row  ">
              <div class="input-group flex-fill">
                <input type="text" class="form-control " id="g_name" name="g_name" [(ngModel)]="group.g_name"
                  #g_name="ngModel" placeholder="enter group name" required />
                <p class="small text-danger my-2" *ngIf="g_name.dirty && g_name.invalid">
                  group name can't be empty !
                </p>
              </div>

            </div>




            <div class="d-flex flex-sm-row flex-column align-items-center mb-4 CCform-Srow">

              <input type="submit" class="btn btn-primary bg-primary"
                [disabled]="createGroupForm.pristine || createGroupForm.invalid">


            </div>
            <div class="alert alert-success d-flex align-items-center mt-2" role="alert" *ngIf="successFlag">
              <i class="material-icons">check_circle</i>
              <div class="d-flex ms-2">
                New group created successfully !

              </div>
            </div>

            <div class="alert alert-danger d-flex align-items-center mt-2" role="alert" *ngIf="errorFlag">
              <i class="material-icons"> warning </i>
              <div class="ms-2">
                There was an unexpected error. We couldn't complete your request.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" d-flex align-items-center mt-0 ml-5" *ngIf="successFlag">

        <app-addmember></app-addmember>
      </div>
    </form>
  </div>
</div>